body{
    color: #333;
    text-align: center;
}

.taskList{
    background-color: lightgrey;
}
.newTask{
    font-size: 27px;
    font-weight: bold;
}
.taskInput{
    height: 30px;
    width: 270px;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.taskBtn{
    height:35px;
    width: 100px;
    border-radius: 5px;
}